body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  margin-top: 5rem;
}

.container {
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.profile-posts-container {
  margin-top: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
}

.nav {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 96%;
  justify-content: space-between;
  background-color: slategray;
  padding: 6px 30px;
}

.nav h1 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul {
  display: flex;
  gap: 8px;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul li a:hover {
  color: black;
}

.nav ul li button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul li button:hover {
  color: black;
}

.form-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form h1 {
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}

.form label {
  font-size: large;
}

.form input {
  padding: 8px 10px;
  font-size: 20px;
  min-width: 350px;
  max-width: 600px;
  height: 25px;
  border: none;
  border: 1px solid lightblue;
  background-color: lightcyan;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form input:focus {
  border: 1px solid black;
}

.form button {
  height: 45px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form button:hover {
  background-color: rgb(0, 0, 218);
}

.form button:disabled {
  opacity: 50%;
  background-color: blue;
}

.alert {
  padding: 15px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile {
  height: max-content;
  position: fixed;
  background-color: slategray;
  border-radius: 5px;
  padding: 2rem;
}

.profile img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(80, 99, 119);
}

.profile h1 {
  color: white;
  background-color: rgb(80, 99, 119);
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.profile a {
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 3px;
  background: rgb(84, 97, 110);
}

.posts-container {
  width: 100%;
  padding: 20px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

.post {
  padding: 10px;
  background-color: slategray;
  border-radius: 6px;
  width: 250px;
}

.post-header {
  display: flex;
}

.post-header h6 {
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
  font-weight: 400;
  font-size: 12px;
}

.post-header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post-main {
  display: flex;
  flex-direction: column;
}

.post-main h3 {
  color: white;
  margin: 0;
  font-size: 25px;
}

.post-main p {
  color: white;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

.post-main img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.post-footer {
  display: flex;
  gap: 3px;
}

.post-footer a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
}

.post-footer button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: slategray;
  border-radius: 6px;
}

.post-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: cover;
}

.post-container h1 {
  color: white;
  margin-left: 20px;
}

.post-container p {
  color: white;
  margin-top: 5px;
  margin-left: 20px;
}

.post-a {
  display: flex;
  gap: 5px;
  padding: 0px 20px;
}

.post-a a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
  margin-bottom: 20px;
}

.post-a button:hover {
  cursor: pointer;
}

.post-a button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
  margin-bottom: 20px;
}

.post-author {
  display: flex;
  padding: 15px;
}

.post-author small {
  color: rgba(255, 255, 255, 0.886);
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10px;
}

.post-author img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post-author h6 {
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

.hide {
  display: none;
}

.error {
  padding: 1rem;
  color: slategrey;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-cancel,
.modal-delete {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-cancel {
  background: #ccc;
}

.modal-delete {
  background: #e74c3c;
  color: white;
}

.loading {
  margin-left: 45%;
  margin-top: 20%;
}

.comment-input-section {
  padding: 10px;
  display: flex;
}

.comment-input-section textarea {
  padding: 8px 10px;
  font-size: 15px;
  min-width: 350px;
  max-width: 600px;
  min-height: 10px;
  border: none;
  border: 1px solid rgb(84, 97, 110);
  background-color: slategray;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: white;
}

.comment-input-section button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
  margin-left: 5px;
}

.comment-input-section button:active {
  text-decoration: none;
}

.comment-input-section button:hover {
  cursor: pointer;
}

.comment-input-section button:disabled {
  opacity: 50%;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  align-items: start;
  width: 100%;
}

.comment {
  display: flex;
  width: 100%;
  gap: 10px;
}

.comment-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6%;
  gap: 5px;
}

.comment-avatar small {
  color: rgba(255, 255, 255, 0.882);
  font-size: xx-small;
}

.comment-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.comment-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: flex-start;
  color: white;
  gap: 5px;
  width: 90%;
}

.comment-content p {
  font-size: small;
  font-weight: 400;
  width: 100%;
  margin: 0;
}

.comment-content small {
  font-size: x-small;
}

.comment-error {
  font-size: large;
  font-weight: 600;
}
